<div class="container-fluid mt-5">
    <div class="row justify-content-center">
        <div class="col-12 col-sm-6 col-md-4">
            <div class="card">
                <h4 class="card-header">Inicio de sesión</h4>
                <div class="card-body">
                    <form [formGroup]="inicioSesionForm" (ngSubmit)="onSubmit(inicioSesionForm.value)">
                        <div class="form-group">
                            <label>Correo</label>
                            <input type="text" formControlName="correo" class="form-control"/>
                            <div class="invalid-feedback">
                                <div>El correo electrónico es obligatorio</div>
                            </div>
                        </div>
                        <div class="form-group mt-3">
                            <label>Contraseña</label>
                            <input type="password" formControlName="contrasenia" class="form-control"/>
                            <div class="invalid-feedback">
                                <div>La contraseña es obligatoria</div>
                            </div>
                        </div>
                        <div class="form-group mt-3">
                            <button class="btn btn-primary" [disabled]="inicioSesionForm.invalid">Ingresar</button>
                            <a class="btn btn-link">Registrarse</a>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>